<div class="container">
  <br>
  <br>
    <div class="row">
        <p-image src="../../../assets/img_carrusel/021AB.jpg" alt="Image" width="300" [preview]="true" class="u"></p-image>
        <p-image src="../../../assets/img_carrusel/022AB.jpg" alt="Image" width="300" [preview]="true" class="u"></p-image>
        <p-image src="../../../assets/img_carrusel/023AB.jpg" alt="Image" width="300" [preview]="true" class="u"></p-image>
        <p-image src="../../../assets/img_carrusel/024AB.jpg" alt="Image" width="300" [preview]="true" class="u"></p-image>
    </div>
    <h1>ALERTAS BIBLIOGRAFICAS</h1>
    <div class="row">
        <p-image src="../../../assets/img_carrusel/025AB.jpg" alt="Image" width="300" [preview]="true" class="u"></p-image>
        <p-image src="../../../assets/img_carrusel/026AB.jpg" alt="Image" width="300" [preview]="true" class="u"></p-image>
        <p-image src="../../../assets/img_carrusel/027AB.jpg" alt="Image" width="300" [preview]="true" class="u"></p-image>
    </div>
</div>
