.container{
    margin: auto;
    background-image: url(https://www.shutterstock.com/shutterstock/photos/2096519296/display_1500/stock-vector-white-background-with-red-diagonal-lines-2096519296.jpg);
    height: 100%;
    width: 100%;
  }

  .u {
    margin: 20px;
    box-shadow: 9px 7px 36px -12px rgba(0,0,0,0.8);
  }

  .row {
    margin: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;

  }


