<div class="principal">
  <div class="second">
    <p-card [style]="{ height: '315px' }">
      <span class="p-input-icon-left">
        <i class="pi pi-search"></i>
        <input pInputText type="text" class="p-inputtext-sl" placeholder="Buscar por Titulo" style="width: 345%;"/>
    </span>
    <br><br>
    </p-card>
    <p-card [style]="{ height: '315px' }">
      <span class="p-input-icon-left">
        <i class="pi pi-search"></i>
        <input pInputText type="text" class="p-inputtext-sl" placeholder="Buscar por Raiz" style="width: 345%;"/>
    </span>
    <br><br>
    </p-card>
  </div>
  <div class="third" >
    <p-card  [style]="{ height: '630px' }">
      <span class="p-input-icon-left">
        <i class="pi pi-search"></i>
        <input pInputText type="text" class="p-inputtext-sm" placeholder="Catalogo CorSalud" style="width: 385px;"/>
    </span>
      

    </p-card>
  </div>
</div>

