<div class="container">
  <br>
  <br>
    <div class="row">
        <p-image src="../../../assets/img_carrusel/040RW.jpg" alt="Image" width="300" [preview]="true" class="u"></p-image>
        <p-image src="../../../assets/img_carrusel/041RW.jpg" alt="Image" width="300" [preview]="true" class="u"></p-image>
        <p-image src="../../../assets/img_carrusel/042RW.jpg" alt="Image" width="300" [preview]="true" class="u"></p-image>
        <p-image src="../../../assets/img_carrusel/043RW.jpg" alt="Image" width="300" [preview]="true" class="u"></p-image>
    </div>
    <h1>RESERVAS WEB</h1>
    <div class="row">
        <p-image src="../../../assets/img_carrusel/044RW.jpg" alt="Image" width="300" [preview]="true" class="u"></p-image>
        <p-image src="../../../assets/img_carrusel/045RW.jpg" alt="Image" width="300" [preview]="true" class="u"></p-image>
        <p-image src="../../../assets/img_carrusel/046RW.jpg" alt="Image" width="300" [preview]="true" class="u"></p-image>
    </div>
</div>
