.container{
  border-radius: 8px;
   margin: auto;
   background-image: url('../../../../assets/images/fondo2.jpg');
   height: 95%;
   width: auto;
   text-align: center;
   color:#68AD51;
 }

 .u {
   margin: 20px;

 }



 .row {

   margin: 20px;
   display: flex;
   flex-direction: row;
   justify-content: center;

 }

 p-image {
  border-radius: 15px; /* Ajusta el valor según tus necesidades */
  overflow: hidden; /* Asegúrate de que los bordes redondeados sean visibles */
  display: inline-block; /* Asegúrate de que se comporte correctamente como elemento en línea */
  border: 2px solid rgb(46, 45, 45); /* Define el grosor y color del borde */
}

p-image img {
  border-radius: 15px; /* Aplica el mismo borde redondeado a la imagen interna */
}

