<div class="principal">
  <div class="second">
    <p-card [style]="{ height: '630px' }">
      <span class="p-input-icon-left">
        <i class="pi pi-search"></i>
        <input pInputText type="text" class="p-inputtext-sm" placeholder="Buscar" style="width: 385px;" (input)="onSearch($event)"/>
      </span>
      <br /><br />
    </p-card>
  </div>
  <div class="third">
    <p-card [style]="{ height: '630px' }">
      <p-table [value]="r2" [tableStyle]="{ 'min-width': '100px' }">
        <ng-template pTemplate="header">
          <tr>
            <i class="pi pi-arrow-left" style="color: slateblue"></i>
            <th>Estandar</th>
            <th>Existencias</th>
            <th>MARC</th>
            <th>ISBD</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-product>
          <tr>
            <td>{{ product.estandar }}</td>
            <td>{{ product.existencias }}</td>
            <td>{{ product.marc }}</td>
            <td>{{ product.isbd }}</td>
          </tr>
        </ng-template>
      </p-table>
    </p-card>
  </div>
</div>
