<!-- <p-sidebar [(visible)]="sidenavOpen" [baseZIndex]="10000" [modal]="true">
  <p-toolbar [style]="{'background-color': '#368ee0'}">
    <div class="p-toolbar-group-left">
      <input [(ngModel)]="searchText" type="text" pInputText placeholder="Buscar Libro..." class="search">
    </div>
  </p-toolbar>
  <div style="background: #e8ffea;">
    <p-listbox [options]="r1 " optionLabel="titulo" (onChange)="viewDetail($event.value)">
      <ng-template let-item pTemplate="item">
        <div class="p-d-flex p-jc-between p-ai-center">
          <div class="p-col-4 p-text-center">
            <img style="height: 70px; width: 50px;" [src]="getImagen(item.woResultadoOpacPK.ficha)"
              onerror="this.src='../../../../assets/img/img-project/no_img.jpg'">
          </div>
          <div class="p-col-8">
            <p class="p-text-bold">Ficha: {{item.woResultadoOpacPK.ficha}}</p>
            <p>Titulo: {{item.titulo}}</p>
            <p>Autor: {{item.autor}}</p>
            <p>ISBN: {{item.isbn}}</p>
          </div>
        </div>
      </ng-template>
    </p-listbox>
  </div>
</p-sidebar>

<div>
  <p-toolbar [style]="{'background-color': '#368ee0'}" class="text-white">
    <div class="p-toolbar-group-left">
      <button pButton icon="pi pi-list" (click)="sidenavOpen = !sidenavOpen"></button>
      <button pButton icon="pi pi-arrow-left" style="color: #fff;" (click)="goBack()"></button>
    </div>
    <div class="p-toolbar-group-right">
      <button *ngIf="detalles" pButton label="Estándar" class="text-white" (click)="tab(1)"></button>
      <button *ngIf="detalles" pButton label="Existencias" class="text-white" (click)="tab(2)"></button>
      <button *ngIf="detalles" pButton label="MARC" class="text-white" (click)="tab(3)"></button>
      <button *ngIf="detalles" pButton label="ISBD" class="text-white" (click)="tab(4)"></button>
    </div>
  </p-toolbar>

  <p-scrollPanel [style]="{height: '500px'}">
    <div class="p-d-flex p-flex-wrap">
      <div class="p-col-12 p-md-8">
        <div *ngIf="tab1 == 1">
          <table class="table table-sm table-responsive">
            <thead>
              <tr>
                <th width="30%"></th>
                <th width="70%"></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td><b class="text-green-dark">Signatura Topografica:</b></td>
                <td>
                  <div class="badge badge-orange">{{detalles[0].signatura}}</div>
                </td>
              </tr>
              <tr>
                <td class="text-green-dark">ISBN</td>
                <td>{{detalles[0].isbn}}</td>
              </tr>
              <tr>
                <td class="text-green-dark">Autor</td>
                <td>{{detalles[0].autor}}</td>
              </tr>
              <tr>
                <td class="text-green-dark">Titulo</td>
                <td>{{detalles[0].titulo}}</td>
              </tr>
              <tr>
                <td class="text-green-dark">Edicion</td>
                <td>{{detalles[0].edicion}}</td>
              </tr>
              <tr>
                <td class="text-green-dark">Editorial</td>
                <td>{{detalles[0].editorial}}</td>
              </tr>
              <tr>
                <td class="text-green-dark">D. Fisica</td>
                <td>{{detalles[0].dfisica}}</td>
              </tr>
              <tr>
                <td class="text-green-dark">Notas</td>
                <td>
                  <p *ngFor="let item of notas">{{item.dato}}<br></p>
                </td>
              </tr>
              <tr>
                <td class="text-green-dark">Temas</td>
                <td>
                  <p *ngFor="let item of temas">{{item.dato}}<br></p>
                </td>
              </tr>
              <tr>
                <td class="text-green-dark">Otros</td>
                <td>
                  <p *ngFor="let item of otros">{{item.dato}}<br></p>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div *ngIf="tab2 == 1">
          <table class="table table-responsive">
            <thead>
              <tr class="text-green-dark">
                <th>Codigo de barras</th>
                <th>Biblioteca</th>
                <th>Ubicacion</th>
                <th>Collecion</th>
                <th>Tipo Material</th>
                <th>Estado Documento</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of existencia">
                <td>
                  <div class="badge badge-info">{{item.numeroAcceso}}</div>
                </td>
                <td>{{item.fkWaBiblioteca.descripcion}}</td>
                <td>{{item.fkWaSalas.descripcion}}</td>
                <td>{{item.fkWmColecciones.descripcion}}</td>
                <td>{{item.fkWmTipoMaterial.descripcion}}</td>
                <td>{{item.ejemplar}}</td>
                <td>{{item.estadoPrestamo}}</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div *ngIf="tab3 == 1">
          <table class="table table-responsive">
            <thead>
              <tr class="text-green-dark">
                <th>Etiqueta</th>
                <th>Indicadores</th>
                <th>Contenido</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of marc">
                <td>
                  <div class="badge badge-info">{{item.woFichaMarcPK.etiqueta}}</div>
                </td>
                <td>{{item.indicadorI}}</td>
                <td>{{item.dato}}</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div *ngIf="tab4 == 1">
          <table class="table">
            <thead>
              <tr>
                <th width="100%"></th>
              </tr>
            </thead>
            <tbody>
              <div *ngFor="let item of isbd">
                <tr>
                  <td>
                    <div class="badge badge-info">{{item.autor}}</div>
                  </td>
                </tr>
                <tr>
                  <td class="text-green-dark">{{item.titulo}} &nbsp;{{item.autorTitulo}}</td>
                </tr>
                <tr>
                  <td>{{item.edicion}} &nbsp;{{item.editorial}}&nbsp; item.dfisica</td>
                </tr>
                <tr>
                  <td><b class="text-green-dark">ISBD</b>&nbsp;{{item.isbd}}</td>
                </tr>
              </div>
              <tr>
                <td>
                  <p *ngFor="let item of notas">{{item.dato}}<br></p>
                </td>
              </tr>
              <tr>
                <td>
                  <p *ngFor="let item of temas">{{item.dato}}<br></p>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="p-col-12 p-md-4 p-text-center">
        <div *ngIf="detalles" id="img-book">
          <img style="width: 150px; height: 220px;" [src]="getImagen(fichaimg)"
            onerror="this.src='../../../../assets/img/img-project/no_img.jpg'">
        </div>
      </div>
    </div>
    <div *ngIf="!detalles" class="p-d-flex p-jc-center p-ai-center h-100 empty">
      <img style="width: 300px; height: 200px;" src="../../../assets/img/img-project/LOGO SIN FONDO.png">
    </div>
  </p-scrollPanel>
</div> -->

<div class="principal">
  <div class="second">
    <p-card [style]="{ height: '630px' }">
      <p-sidebar [(visible)]="sidenavOpen" [baseZIndex]="10000" [modal]="true">
        <p-toolbar [style]="{'background-color': '#368ee0'}">
          <div class="p-toolbar-group-left">
            <input [(ngModel)]="searchText" type="text" pInputText placeholder="Buscar Libro..." class="search">
          </div>
        </p-toolbar>
        <div style="background: #e8ffea;">
          <p-listbox [options]="r1" optionLabel="titulo" (onChange)="viewDetail($event.value)">
            <ng-template let-item pTemplate="item">
              <div class="p-d-flex p-jc-between p-ai-center">
                <div class="p-col-4 p-text-center">
                  <img style="height: 70px; width: 50px;" [src]="getImagen(item.woResultadoOpacPK.ficha)"
                    onerror="this.src='../../../../assets/img/img-project/no_img.jpg'">
                </div>
                <div class="p-col-8">
                  <p class="p-text-bold">Ficha: {{item.woResultadoOpacPK.ficha}}</p>
                  <p>Titulo: {{item.titulo}}</p>
                  <p>Autor: {{item.autor}}</p>
                  <p>ISBN: {{item.isbn}}</p>
                </div>
              </div>
            </ng-template>
          </p-listbox>
        </div>
      </p-sidebar>
    </p-card>
  </div>
  <div class="third">
    <div>
      <p-toolbar [style]="{'background-color': '#368ee0'}" class="text-white">
        <div class="p-toolbar-group-left">
          <button pButton icon="pi pi-list" (click)="sidenavOpen = !sidenavOpen"></button>
          <button pButton icon="pi pi-arrow-left" style="color: #fff;" (click)="goBack()"></button>
        </div>
        <div class="p-toolbar-group-right">
          <button *ngIf="detalles" pButton label="Estándar" class="text-white" (click)="tab(1)"></button>
          <button *ngIf="detalles" pButton label="Existencias" class="text-white" (click)="tab(2)"></button>
          <button *ngIf="detalles" pButton label="MARC" class="text-white" (click)="tab(3)"></button>
          <button *ngIf="detalles" pButton label="ISBD" class="text-white" (click)="tab(4)"></button>
        </div>
      </p-toolbar>

      <p-scrollPanel [style]="{height: '500px'}">
        <div class="p-d-flex p-flex-wrap">
          <div class="p-col-12 p-md-8">
            <div *ngIf="tab1 == 1">
              <table class="table table-sm table-responsive">
                <thead>
                  <tr>
                    <th width="30%"></th>
                    <th width="70%"></th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td><b class="text-green-dark">Signatura Topografica:</b></td>
                    <td>
                      <div class="badge badge-orange">{{detalles[0].signatura}}</div>
                    </td>
                  </tr>
                  <tr>
                    <td class="text-green-dark">ISBN</td>
                    <td>{{detalles[0].isbn}}</td>
                  </tr>
                  <tr>
                    <td class="text-green-dark">Autor</td>
                    <td>{{detalles[0].autor}}</td>
                  </tr>
                  <tr>
                    <td class="text-green-dark">Titulo</td>
                    <td>{{detalles[0].titulo}}</td>
                  </tr>
                  <tr>
                    <td class="text-green-dark">Edicion</td>
                    <td>{{detalles[0].edicion}}</td>
                  </tr>
                  <tr>
                    <td class="text-green-dark">Editorial</td>
                    <td>{{detalles[0].editorial}}</td>
                  </tr>
                  <tr>
                    <td class="text-green-dark">D. Fisica</td>
                    <td>{{detalles[0].dfisica}}</td>
                  </tr>
                  <tr>
                    <td class="text-green-dark">Notas</td>
                    <td>
                      <p *ngFor="let item of notas">{{item.dato}}<br></p>
                    </td>
                  </tr>
                  <tr>
                    <td class="text-green-dark">Temas</td>
                    <td>
                      <p *ngFor="let item of temas">{{item.dato}}<br></p>
                    </td>
                  </tr>
                  <tr>
                    <td class="text-green-dark">Otros</td>
                    <td>
                      <p *ngFor="let item of otros">{{item.dato}}<br></p>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div *ngIf="tab2 == 1">
              <table class="table table-responsive">
                <thead>
                  <tr class="text-green-dark">
                    <th>Codigo de barras</th>
                    <th>Biblioteca</th>
                    <th>Ubicacion</th>
                    <th>Collecion</th>
                    <th>Tipo Material</th>
                    <th>Estado Documento</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of existencia">
                    <td>
                      <div class="badge badge-info">{{item.numeroAcceso}}</div>
                    </td>
                    <td>{{item.fkWaBiblioteca.descripcion}}</td>
                    <td>{{item.fkWaSalas.descripcion}}</td>
                    <td>{{item.fkWmColecciones.descripcion}}</td>
                    <td>{{item.fkWmTipoMaterial.descripcion}}</td>
                    <td>{{item.ejemplar}}</td>
                    <td>{{item.estadoPrestamo}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div *ngIf="tab3 == 1">
              <table class="table table-responsive">
                <thead>
                  <tr class="text-green-dark">
                    <th>Etiqueta</th>
                    <th>Indicadores</th>
                    <th>Contenido</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of marc">
                    <td>
                      <div class="badge badge-info">{{item.woFichaMarcPK.etiqueta}}</div>
                    </td>
                    <td>{{item.indicadorI}}</td>
                    <td>{{item.dato}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div *ngIf="tab4 == 1">
              <table class="table">
                <thead>
                  <tr>
                    <th width="100%"></th>
                  </tr>
                </thead>
                <tbody>
                  <div *ngFor="let item of isbd">
                    <tr>
                      <td>
                        <div class="badge badge-info">{{item.autor}}</div>
                      </td>
                    </tr>
                    <tr>
                      <td class="text-green-dark">{{item.titulo}} &nbsp;{{item.autorTitulo}}</td>
                    </tr>
                    <tr>
                      <td>{{item.edicion}} &nbsp;{{item.editorial}}&nbsp; item.dfisica</td>
                    </tr>
                    <tr>
                      <td><b class="text-green-dark">ISBD</b>&nbsp;{{item.isbd}}</td>
                    </tr>
                  </div>
                  <tr>
                    <td>
                      <p *ngFor="let item of notas">{{item.dato}}<br></p>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <p *ngFor="let item of temas">{{item.dato}}<br></p>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="p-col-12 p-md-4 p-text-center">
            <div *ngIf="detalles" id="img-book">
              <img style="width: 150px; height: 220px;" [src]="getImagen(fichaimg)"
                onerror="this.src='../../../../assets/img/img-project/no_img.jpg'">
            </div>
          </div>
        </div>
        <div *ngIf="!detalles" class="p-d-flex p-jc-center p-ai-center h-100 empty">
          <img style="width: 300px; height: 200px;" src="../../../assets/img/img-project/LOGO SIN FONDO.png">
        </div>
      </p-scrollPanel>
    </div>
  </div>
</div>