@import "primeicons/primeicons.css";

h1{
  text-align: center;
  color: rgb(233, 22, 22);
  font-size:x-large;
}
.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 16px;
}

.container .container-select {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  gap: 16px;
  width: 60%;
}

.container .container-search {
  display: flex;
  justify-content: space-between;
  width: 60%;
  gap: 16px;
}

.contenedor_cards {
  /* background: rgb(255, 254, 254); */
  background-image: url(https://www.shutterstock.com/shutterstock/photos/2096519296/display_1500/stock-vector-white-background-with-red-diagonal-lines-2096519296.jpg);
  height: 100%;
  border-radius: 15px;
}

.card-fila {
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 20px;
  margin-top: 16px;
}

.cardp {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 15%;
  height: 5%;
  border-radius: 15px;
  justify-content: center;
  align-items: center;
  transition: all linear 0.2s;
  box-shadow: 9px 8px 22px -11px rgba(0,0,0,0.75);

}

.cardp:hover {
  transform: scale(1.05);
}






.bprincipal {
  display: flex;
}


::ng-deep .p-button{
    background: #eb2525 
}