<div class="container">
  <br>
  <br>
    <div class="row">
        <p-image src="../../../assets/img_carrusel/031CBD.jpg" alt="Image" width="300" [preview]="true" class="u"></p-image>
        <p-image src="../../../assets/img_carrusel/032CBD.jpg" alt="Image" width="300" [preview]="true" class="u"></p-image>
        <p-image src="../../../assets/img_carrusel/033CBD.jpg" alt="Image" width="300" [preview]="true" class="u"></p-image>
        <p-image src="../../../assets/img_carrusel/034CBD.jpg" alt="Image" width="300" [preview]="true" class="u"></p-image>
    </div>
    <h1>CIRCULACION DIGITAL</h1>
    <div class="row">
        <p-image src="../../../assets/img_carrusel/035CBD.jpg" alt="Image" width="300" [preview]="true" class="u"></p-image>
        <p-image src="../../../assets/img_carrusel/036CBD.jpg" alt="Image" width="300" [preview]="true" class="u"></p-image>
        <p-image src="../../../assets/img_carrusel/037CBD.jpg" alt="Image" width="300" [preview]="true" class="u"></p-image>
    </div>
</div>
