<div class="container">
    <div class="row">
        <p-image src="../../../assets/img_carrusel/negro.webp" alt="Image" width="300" [preview]="true" class="u"></p-image>
        <p-image src="../../../assets/img_carrusel/negro.webp" alt="Image" width="300" [preview]="true" class="u"></p-image>
        <p-image src="../../../assets/img_carrusel/negro.webp" alt="Image" width="300" [preview]="true" class="u"></p-image>
        <p-image src="../../../assets/img_carrusel/negro.webp" alt="Image" width="300" [preview]="true" class="u"></p-image>
    </div>
    <div class="row">
        <p-image src="../../../assets/img_carrusel/negro.webp" alt="Image" width="300" [preview]="true" class="u"></p-image>
        <p-image src="../../../assets/img_carrusel/negro.webp" alt="Image" width="300" [preview]="true" class="u"></p-image>
        <p-image src="../../../assets/img_carrusel/negro.webp" alt="Image" width="300" [preview]="true" class="u"></p-image>
    </div>
</div>