/* You can add global styles to this file, and also import other style files */
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100dvh;
  width: 100dvw;
}


/* estilos globales (styles.css o styles.scss) */
.p-datatable {
  max-width: 100%;
  overflow-x: auto;
}

.p-listbox-list-wrapper {
  max-height: 480px !important; /* Usa !important solo si es necesario */
}
