.principal{
  width: 100%;
  height: 100% ;
  display: flex;
  padding: 8px;
}

.second
{
  margin-top: 50px;
  width: 30%;


}

.third{
  margin-top: 50px;
  width: 70%;

}

tr:hover td {
    background: #ff7676;
    color: rgb(255, 255, 255);
    cursor: pointer
}



