<div class="principal">
  <div class="third" >
    <p-card  [style]="{ height: '630px' }">
      <div class="justify-content-center">
        <div>
          <h4>¿Qué desea consultar?</h4>
          <span class="p-input-icon-left">
            <i class="pi pi-search"></i>
            <input pInputText type="text" class="p-inputtext-sl" placeholder="Buscar" style="width: 275%;"/>
        </span>
        </div>
        <div>
            <h4>Fecha</h4>
            <input id="input" type="date" size="30" pInputText style="width: 100%;"><br><br>
            <input id="input" type="date" size="30" pInputText style="width: 100%;">
        </div>
        <div>
          <h4>Titulo Seriada</h4>
          <input id="input" type="text" size="30" pInputText style="width: 100%;">
        </div>
      <div>
        <h4>Tema Seriada</h4>
        <input id="input" type="text" size="30" pInputText style="width: 100%;">
      </div>
    </div>

    </p-card>
  </div>
</div>


