<div class="principal">
  <div class="third" >
    <p-card  [style]="{ height: '630px' }">
      <div pFocusTrap class="card flex align-items-center justify-content-center ">
        <div>
          <h4>Input</h4>
          <input id="input" type="text" size="30" pInputText>
        </div>
        <div>
            <h4>Input</h4>
            <input id="input" type="date" size="30" pInputText style="margin-right: 20px;">
            <input id="input" type="date" size="30" pInputText>
        </div>
        <div>
          <h4>Input</h4>
          <input id="input" type="text" size="30" pInputText>
        </div>
      <div>
        <h4>Input</h4>
        <input id="input" type="text" size="30" pInputText>
      </div>
    </div>

    </p-card>
  </div>
</div>


